* {
  box-sizing: border-box;
}

.top-dog {
  flex-basis: 35%;
//   margin: 0 auto;

  &__image-file {
    width: 100%;
  }
}

.leaderboard {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

  &__all-rankings {
    flex-grow: 1;
  }  

  &__list {
    font-weight: bold;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #0065ad;
    width: 100%;
  }

  &__group {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__duo {
  }
}
