

*{
    box-sizing: border-box;   
}


.top-dog-wrapper {

    width:50%;
    margin: 0 auto;

}

.top-dog {

    width: 100%;
}

.board{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

&__list{
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0065AD;
    width: 100%;
    }    

&__group{
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 }

&__duo {
    
} 
}